# Virtual environment
project_ai_course/
project_env/
.env

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

*app3.py
# Database and logs
*.db
*.sqlite3
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/Editor files
.vscode/
.idea/

# OS-specific files
.DS_Store

.coverage

#dataseta
datasets/dataset.csv
pre_processed_dataset.csv
trained_models/dummy_model.pkl
trained_models/model2.pkl